@using TBS.PrintTest.Web.Models
@using TBS.PrintTest.Web.Resources;

@model HomeViewModel

<partial name="_Header" />

<h2>@Localization.Home_SubTitle</h2>

<p>@Localization.Home_Para1</p>
<p>@Localization.Home_Para2</p>
